# Part 1

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#Creating path string
path = r'C:\Users\Alex Lam\Desktop\Career Foundary\04 Instacart Project'

## Importing Data

In [3]:
#3.
#Importing df_customers dataframe
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

In [4]:
df_user_stats = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'user_stats_cleaned.pkl'))

In [5]:
df_orders_products = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_cleaned_user_info.pkl'))

## Data Wrangling

In [6]:
#4.
#Learning about and learning about dataset for data wrangling purposes
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [7]:
df_customers.shape

(206209, 10)

Wrangling data will include the some of the following processes: 

Dropping columns
Renaming columns
Changing data types
Transposing  data

The following questions will be used to determine how data wrangling will occur.

Are there differences in ordering habits based on a customer’s loyalty status?
Are there differences in ordering habits based on a customer’s region?
Is there a connection between age and family status in terms of ordering habits?
What different classifications does the demographic information suggest? Age? Income? Certain types of goods? Family status?

Based on the questions above the following columns will be deleted: First Name, Surnam, Gender, date_joined

n_dependants will be renamed to num_dependants for clarification

In [8]:
#Dropping columns and creating new dataframe 
df_drop_customers = df_customers.drop(columns = ['First Name', 'Surnam', 'Gender', 'date_joined'])

In [9]:
#Testing drop columns
df_drop_customers.columns

Index(['user_id', 'STATE', 'Age', 'n_dependants', 'fam_status', 'income'], dtype='object')

In [10]:
#Changing n_dependants column name
df_drop_customers.rename(columns = {'n_dependants' : 'num_dependants'}, inplace = True)

In [11]:
#Testing column name change
df_drop_customers.columns

Index(['user_id', 'STATE', 'Age', 'num_dependants', 'fam_status', 'income'], dtype='object')

## Cleaning Data

Data will need to be cleaned. The following issues will be dealt with: mixed-type data, missing data, and duplicates.

In [12]:
#5.
#Checking for mixed type data
for col in df_drop_customers.columns.tolist():
  weird = (df_drop_customers[[col]].applymap(type) != df_drop_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_drop_customers[weird]) > 0: 
        print (col)
else: print('No mix')

No mix

In [13]:
#Checking for missing data
df_drop_customers.isnull().sum()

user_id           0
STATE             0
Age               0
num_dependants    0
fam_status        0
income            0
dtype: int64

In [14]:
#Checking for duplicates
#Creating dataframe for duplicates
df_drop_dups_customers = df_drop_customers[df_drop_customers.duplicated()]

In [15]:
#Testing duplicate dataframe
df_drop_dups_customers

Empty DataFrame
Columns: [user_id, STATE, Age, num_dependants, fam_status, income]
Index: []

There is no mixed-data types, missing values, or duplicate value.

## Joining Dataframes

In [16]:
#6.
#Will need to merge df_drop_customers dataframe one of of the previous dataframes
#Seeing what data types are being used for df_drop_customers
df_drop_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         206209 non-null  int64
 1   STATE           206209 non-null  object
 2   Age             206209 non-null  int64
 3   num_dependants  206209 non-null  int64
 4   fam_status      206209 non-null  object
 5   income          206209 non-null  int64
dtypes: int64(4), object(2)
memory usage: 9.4+ MB

In [17]:
df_user_stats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206209 entries, 1 to 206209
Data columns (total 4 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   (price_avg, )           206209 non-null  float64
 1   (spending_avg, )        206209 non-null  object
 2   (frequency_mean, )      206209 non-null  float64
 3   (customer_frequency, )  206209 non-null  object
dtypes: float64(2), object(2)
memory usage: 7.9+ MB

In [18]:
df_user_stats.head()

        price_avg spending_avg frequency_mean customer_frequency

user_id
1        6.367797  Low spender      18.542373   Regular customer
2        7.515897  Low spender      14.902564   Regular customer
3        8.197727  Low spender      10.181818   Regular customer
4        8.205556  Low spender      11.944444   Regular customer
5        9.189189  Low spender      10.189189   Regular customer

In [19]:
df_orders_products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434212 entries, 0 to 32434211
Data columns (total 19 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   orders_day_of_week      int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  product_name            object
 11  aisle_id                int64
 12  department_id           int64
 13  prices                  float64
 14  busiest_day             object
 15  busiest_days            object
 16  busiest_period_of_day   object
 17  max_order               int64
 18  loyalty_flag            object
dtypes: float64(2), int64(11), object(6)
memory usage: 4.8+ GB

In [20]:
df_orders_products.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,prior,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Regularly busy,Least busiest days,Average orders,10,New customer
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Regularly busy,Least busiest days,Most orders,10,New customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Least busy,Least busiest days,Average orders,10,New customer
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Least busy,Least busiest days,Most orders,10,New customer

In [21]:
#Joining df_user_stats and df_drop_customers on user_id
#These two dataframes are being joined instead of df_orders_products, since the two former have only singular instants of user_id, where as the later has the same user_id appear multiple times 
df_user_stats_customers_merged = df_user_stats.merge(df_drop_customers, on = 'user_id')

C:\Users\Alex Lam\AppData\Local\Temp\ipykernel_11500\147520106.py:3: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  df_user_stats_customers_merged = df_user_stats.merge(df_drop_customers, on = 'user_id')

In [22]:
#Testing new dataframe
df_user_stats_customers_merged.head()

,user_id,"(price_avg, )","(spending_avg, )","(frequency_mean, )","(customer_frequency, )",STATE,Age,num_dependants,fam_status,income
0,1,6.367797,Low spender,18.542373,Regular customer,Alabama,31,3,married,40423
1,2,7.515897,Low spender,14.902564,Regular customer,Alaska,68,3,married,64940
2,3,8.197727,Low spender,10.181818,Regular customer,Arizona,33,3,married,93240
3,4,8.205556,Low spender,11.944444,Regular customer,Arkansas,31,3,married,45435
4,5,9.189189,Low spender,10.189189,Regular customer,California,75,0,divorced/widowed,115242

## Exporting Dataframe and Additional Changes

In [23]:
#Renaming columns in new df_user_stats_customers_merged dataframe
df_user_stats_customers_merged.rename(columns = {('price_avg', '') : 'price_avg', ('spending_avg', '') : 'spending_avg', ('frequency_mean', '') : 'frequency_mean', ('customer_frequency', '') : 'customer_frequency',}, inplace = True)

In [24]:
#Checking results of column name change
df_user_stats_customers_merged.columns

Index(['user_id', 'price_avg', 'spending_avg', 'frequency_mean',
       'customer_frequency', 'STATE', 'Age', 'num_dependants', 'fam_status',
       'income'],
      dtype='object')

In [25]:
#Exporting df_user_stats_customers_merged to pickle file
df_user_stats_customers_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'user_stats_customers_merged.pkl'))

In [26]:
#Cleaning up df_orders_products columns
df_orders_products_new = df_orders_products.drop(columns = ['eval_set'])

In [27]:
#Exporting df_orders_products_new to pickle file
df_orders_products_new.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products.pkl'))